.App {
  text-align: center;
  background-color: #333;
  padding-top: 10px;
  padding-bottom: 10px;
}
.App h1 {
  font-family: "Bigelow Rules", cursive;
  font-weight: bold;
  font-size: 72px;
  color: orangered;
}
